@page "/Prioridad/Index"
@inject PrioridadesServices prioridadesServices
@rendermode InteractiveServer

<EditForm Model="ListaPrioridades" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Prioridades</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">

            @*Filtro*@
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="descripcion">Descripcion</option>
                    <option value="tiempo">Tiempo</option>
                </select>
            </div>

            @*Barra Busqueda*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>

            @*Boton Crear*@
            <div class="col-md-3 text-end">
                <a href="/Prioridad/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>

    @*Tabla*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>PrioridadesId</th>
                <th>Descripcion</th>
                <th>Tiempo</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var prioridades in ListaPrioridades)
            {
                <tr>
                    <td>@prioridades.PrioridadesId</td>
                    <td>@prioridades.Descripcion</td>
                    <td>@prioridades.Tiempo</td>
                    <td>

                        @*Boton Details*@
                        <a href="/Prioridad/Details/@prioridades.PrioridadesId" style="border: none; background-color: transparent;" class="btn-detalle">
                            <i class="bi bi-eye" style="font-size: 2rem;"></i>
                        </a>

                    </td>
                    <td>
                        @*Boton Editar*@
                        <a href="/Prioridad/Edit/@prioridades.PrioridadesId" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>
                    </td>

                    <td>
                        @*Boton Eliminar*@
                        <a href="/Prioridad/Delete/@prioridades.PrioridadesId" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <i class="bi bi-trash3" style="font-size: 2rem;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer text-start">
        <p> Total de  Prioridades: @ListaPrioridades.Count</p>
    </div>
</EditForm>

@code {
    public Prioridades prioridades { get; set; } = new Prioridades();
    public List<Prioridades> ListaPrioridades = new List<Prioridades>();
    private string valorFiltro = "";
    private string filtro = "Id";

    protected override async Task OnInitializedAsync()
    {
        ListaPrioridades = await prioridadesServices.Listar(c => true);
    }

    public async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int PrioridadesId))
            {
                ListaPrioridades = await prioridadesServices.Listar(t => t.PrioridadesId == PrioridadesId);
            }
            else if (filtro == "descripcion")
            {
                ListaPrioridades = await prioridadesServices.Listar(t => t.Descripcion.Contains(valorFiltro));
            }
            else if (filtro == "tiempo" )
            {
                ListaPrioridades = await prioridadesServices.Listar(t => t.Tiempo != null );
            }
        }
        else
        {
            ListaPrioridades = await  prioridadesServices.Listar(t => true);
        }
    }
}

