@page "/Cliente/Index"
@inject ClientesServices clientesServices
@rendermode InteractiveServer

<EditForm Model="ListaClientes" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Clientes</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">

            @*Filtro*@
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="nombre">Nombre</option>
                    <option value="whatsApp">WhatsApp</option>
                </select>
            </div>

            @*Barra Busqueda*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>

            @*Boton Crear*@
            <div class="col-md-3 text-end">
                <a href="/Cliente/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>

    @*Tabla*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>ClientesId</th>
                <th>Nombre</th>
                <th>WhatsApp</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var clientes in ListaClientes)
            {
                <tr>
                    <td>@clientes.ClientesId</td>
                    <td>@clientes.Nombres</td>
                    <td>@clientes.WhatsApp</td>


                    <td>

                        @*Boton Details*@
                        <a href="/Cliente/Details/@clientes.ClientesId" style="border: none; background-color: transparent;" class="btn-detalle">
                            <i class="bi bi-eye" style="font-size: 2rem;"></i>
                        </a>

                    </td>
                    <td>
                        @*Boton Editar*@
                        <a href="/Cliente/Edit/@clientes.ClientesId" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>
                    </td>

                    <td>
                        @*Boton Eliminar*@
                        <a href="/Cliente/Delete/@clientes.ClientesId" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <i class="bi bi-trash3" style="font-size: 2rem;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer text-start">
        <p> Total de  Clientes: @ListaClientes.Count</p>
    </div>
</EditForm>

@code {
    public Clientes clientes { get; set; } = new Clientes();
    public List<Clientes> ListaClientes = new List<Clientes>();
    private string valorFiltro = "";
    private string filtro = "Id";

    protected override async Task OnInitializedAsync()
    {
        ListaClientes =  clientesServices.Listar(c => true);
    }
    public async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int ClientesId))
            {
                ListaClientes =  clientesServices.Listar(t => t.ClientesId == ClientesId);
            }
            else if (filtro == "nombre")
            {
                string filtroMinuscula = valorFiltro.ToLower();
                ListaClientes =  clientesServices.Listar(t => t.Nombres.ToLower().Contains(filtroMinuscula));

            }
            else if (filtro == "whatsapp")
            {
                ListaClientes =  clientesServices.Listar(t => t.WhatsApp == null);
            }
          

        }
        else
        {
            ListaClientes =  clientesServices.Listar(t => true);
        }
    }

    
}
